body
{
background-color: rgb(87, 85, 85);
text-align:center;
}
h1
{
color:white;
}
.line
{
height:6px;
background-color:black;
width:70px;
margin:8px auto;
}
#library img
{
height:1000px;
}
p
{
color:white;
}
.my_nav_bar
{
position:sticky;
top:0;
z-index:99999;
}
.achievements_head
{
font-size:20px;
border-radius:10px;
margin-bottom:15px;
}
.glyphicon
{
color:orange
}
h3
{
color:white;
}
.new 
{
margin-bottom:20px;
}
.environment_li
{
width:100%;
}
img
{
width:80%;
}